@inherits Umbraco.Web.Mvc.UmbracoViewPage

<footer class="bg-dark">
    <div class=container>
        <div class="row">
            <div class="col text-center py-4">
                <ul class="list-inline-item">
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/tkngrkn/" target="_blank" title="Flow us on Instagram">
                            <i class="fab fa-instagram fa-2x text-white"></i>
                        </a>
                    </li>
                           <li class="list-inline-item">
                        <a href="https://twitter.com/" target="_blank" title="Flow us on Twitter">
                            <i class="fab fa-twitter fa-2x text-white"></i>
                        </a>
                    </li>
                    </li>
                           <li class="list-inline-item">
                        <a href="https://tr.linkedin.com/" target="_blank" title="Flow us on LinkedIn">
                            <i class="fab fa-linkedin fa-2x text-white"></i>
                        </a>
                    </li>
                </ul>
                <p class="text-white">Copyright &copy; @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
</footer>